# Eclipse
.classpath
.project
.settings
org.eclipse.jdt.core.prefs

# Intellij
.idea/
*.iml
*.iws
out/

# Files produced
new_image.png
Packet.class
Receiver.class
Sender.class
SenderBase.class
Utility.class
